{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
    {% if page.is_primary %}
        {% if forloop.first %}
            <div class="nav-footer">
        {% endif %}
		
		{% if forloop.counter == 2		%}
			<!-- add ul after first column -->
		<!-- 	</div> -->
			 </ul><img src="/static/img/logo.png" alt="TWSC" style="width:200px;height:200px" hspace="10">
		{% endif %}
		
		{% if forloop.counter == 1 or forloop.counter == 2 and page.in_menu %}
			{% if forloop.counter == 1 %} 
	<!-- 			<div class="col1"> -->
           <ul class="list-unstyled col1">
			{% endif %}
			{% if forloop.counter == 2 %} 
				<!-- <div class="col2"> -->
           <ul class="list-unstyled col2">
			{% endif %}
			
		{% endif %}

		
    {% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            <ul class="list-unstyled">
        {% endif %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
            id="footer-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endif %}

    {% if page.in_menu and page.has_children_in_menu %}{% page_menu page %}{% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            </li> </ul>
        {% endif %}
    {% endif %}

    {% if page.is_primary %}
		<!-- ul supposed to add here per column but removed it and put it to last only. -->

        {% if forloop.last %}
         </ul></div><!-- </div> -->
        {% endif %}
        {% endif %}

{% endfor %}

{% endif %}
{% endspaceless %}
