{% extends "base.html" %}
{% load i18n %}

<!--TITLE!
{% block title %}{% trans "Third World Studies Center" %}{% endblock %} -->


{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block left_panel %}
<div class="panel panel-default">

    <div class="panel-body">
    <h3> ANNOUNCEMENTS</h3>
    <ul>
    	<li> Kailan kaya matatapos ito? </li>
    	<li> Saan kaya ang patutunguhan natin? </li>
    	<li> Bakit nasa labas ang brip ni superman? </li>
    </ul>
    </div>
    </div>
   {% endblock%}
{% block main %}
{% blocktrans %}

<head>

<div class="panel panel-body">
        <p>The Third World Studies Center (TWSC) of the University of the Philippines is an academic research institute committed to analyze and develop alternative perspective on Philippine, regional and global issues. 
        <a href="#">Read more.</a>
        </p>
</div>


<div class="panel panel-body">
<h2>Welcome to the Third World Studies Center</h2>

<p>
    The Third World Studies Center (TWSC) of the University of the Philippines is an academic research institute committed to analyze and develop alternative perspectives on Philippine, regional and global issues. 
</p>
</div>
</head>
{% endblocktrans %}
{% endblock %}
<div class="container">
	{% block bottom%}
	<!-- Fix these buttons -->
	<h3>CONNECT WITH US</h3>
	<!-- I got these buttons from simplesharebuttons.com -->
	<div id="share-buttons">
	 
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/facebook.png" alt="Facebook" width="40" height="40" /></a>
	 
	<!-- Twitter -->
	<a href="http://twitter.com/share?url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/twitter.png" alt="Twitter" width="40" height="40" /></a>
	 
	<!-- Google+ -->
	<a href="https://plus.google.com/share?url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/google.png" alt="Google" width="40" height="40" /></a>
	 
	<!-- Digg -->
	<a href="http://www.digg.com/submit?url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/diggit.png" alt="Digg" width="40" height="40"/></a>
	 
	<!-- Reddit -->
	<a href="http://reddit.com/submit?url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/reddit.png" alt="Reddit" width="40" height="40" /></a>
	 
	<!-- LinkedIn -->
	<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/linkedin.png" alt="LinkedIn" width="40" height="40" /></a>
	 
	<!-- StumbleUpon-->
	<a href="http://www.stumbleupon.com/submit?url=http://www.twsc.upd.edu.ph" target="_blank"><img src="static/img/stumbleupon.png" alt="StumbleUpon" width="40" height="40" /></a>
	
	<!-- Youtube -->
	<a href="https://www.youtube.com/user/2009TWSC" target="_blank">
	<img src="static/img/youtube.png" alt="Youtube" width="40" height="40" /></a>


	</div>
	{% endblock %}
</div>

</head>





